#calculator-container{
    background-color: rgba(168, 227, 250, 0.541);
    place-items: center;
}

#field-container{
    box-sizing: content-box;
    border: solid black;
    display: grid;
    place-items: center;
    height: 10vh;
}

#buttons-container{
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-rows: repeat(5, minmax(25px, 15vh));
    grid-template-columns: repeat(4, minmax(25px, 25vw));
}

button{
    border: none;
    font-size: 5vmin
}

.WIP{
    background-color: red;
}