#calculator-container{
    background-color: rgba(168, 227, 250, 0.541);
    place-items: center;
}

#display-container{
    box-sizing: content-box;
    border: 0.1em solid black;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: repeat(2, minmax(25px, 6vh));
}

.display{
    align-self: center;
    justify-self: end;
    margin-right: 10px;
}

#prev-display{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#result-display{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.25em;
}

#all-buttons-container{
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-template-rows: repeat(5, minmax(25px, 14vh));
    grid-template-columns: repeat(4, minmax(25px, auto));
}

button{
    font-size: 5vmin;
    background-color: transparent;
    border: solid;
    place-self: stretch;
}

.WIP{
    background-color: red;
}